<div class="container">
  <h2>Produtos Cadastrados</h2>
  <% @product_models.each do |p| %>
    <p><%= link_to(p.name, product_model_path(p.id))%>
    <%= p.sku %></p>
    <% @items = p.product_items.group(:warehouse).count %>
          <% @items.each_pair do |warehouse, quantity|%>
          <div id="product-<%= p.id %>">
          <td><%= warehouse.name %></td>
          <td>Quantidade: <%= quantity %></td>
          </div>
        <% end %>
  <% end %>

  <%= link_to 'Ver produtos Inativos', show_disabled_product_models_path %>
</div>
