<h1><%= @product_model.name %></h1>
<%= @product_model.weight %> gramas
Dimensões: <%= @product_model.dimensions %>
SKU: <%= @product_model.sku %>
Fornecedor: <%= @product_model.supplier.name %>
Categoria: <%= @product_model.category.name %>
<button type="button" class="btn btn-outline-primary"> 
  <%= link_to 'Editar', edit_product_model_path(@product_model.id) %> </button> 
