<h1><%= @supplier.name %></h1>
<h2><%= @supplier.corporate_name %></h2>
<dl>
  <dt>CNPJ</dt>
  <dd><%= @supplier.cnpj %></dd>
  <dt>Endereço</dt>
  <dd><%= @supplier.address %> - <%= @supplier.city %>/<%= @supplier.state %></dd>
  <dt>e-mail</dt>
  <dd><%= @supplier.email %></dd>
  <dt>Telefone</dt>
  <dd><%= @supplier.phone %></dd>
</dl>
<h2>Produtos deste fornecedor:</h2>
<table>
  <tr>
    <th>Produto</th>
    <th>SKU</th>
  </tr>
  <% @supplier.product_models.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.sku %></td>
      <td><button type="button" class="btn btn-outline-primary"> 
          <%= link_to 'Editar', edit_product_model_path(p.id) %> </button> </td>
    </tr>
  <% end %>
</table>


<%= link_to 'Voltar', root_path %>